.accountingftr-container {
  padding: 3.5rem 0 6rem 0;
}

.accountingftr-title {
  line-height: 42px;
  letter-spacing: 0.5px;
  color: #f98648;
}

.accountingftr-row {
  background-color: #024751;
  border-radius: 9px;
  padding: 3rem;
}

.accountingftr-list {
  list-style-type: none;
}

.accountingftr-list li h4 {
  color: #f7f7f7;
  margin-bottom: 1.5rem;
  font-weight: normal;
}

@media screen and (max-width: 768px) {
  .accountingftr-container {
    padding: 3rem 0 6rem 0;
  }
  .accountingftr-row {
    padding: 1rem;
    margin: 0.3rem;
  }
}
