.benefit-container {
  padding: 3.5rem 0 6rem 0;
}

.benefit-title {
  line-height: 42px;
  letter-spacing: 0.5px;
  color: #f98648;
}

.benefit-row {
  background-color: #024751;
  border-radius: 9px;
  padding: 3rem;
}

.benefit-list {
  list-style-type: none;
}

.benefit-list li h4 {
  color: #f7f7f7;
  margin-bottom: 1.5rem;
  font-weight: normal;
}
